<h2>{{gamename}} ranking!</h2>

{{#if ranking}}
    {{#each ranking}}
    Ranking #{{rank}}, {{name}} from {{school}}, Score : {{score}}, Time : {{date}} <br>
    {{/each}}
{{else}}
    <h3>No one played yet!</h3>
    <h3>Be the first student challenging this game!</h3>
{{/if}} 

